In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt

In [2]:
!ls

 breeze_github_link.txt  'IDEA - Scala'      link_kaggle.txt	    possum.csv
 HW3_Scala.pdf		  LinearRegression   lin_reg_possum.ipynb

In [3]:
df = pd.read_csv("possum.csv")

In [4]:
df.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

* **site:**
* **Pop:** Population, either Vic (Victoria) or other (New South Wales or Queensland)
* **sex:** Gender, either m (male) or f (female)
* **age:** Age
* **hdlngth:** Head length, in mm
* **skullw:** Skull width, in mm
* **totlngth:** Total length, in cm
* **taill:** Tail length, in cm
* **footlgth:** foot length
* **earconch:**
* **eye:**
* **chest:**
* **belly:**

In [5]:
df.shape

(104, 14)

In [6]:
df.columns

Index(['case', 'site', 'Pop', 'sex', 'age', 'hdlngth', 'skullw', 'totlngth',
       'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [8]:
df = df.dropna()

In [9]:
X = df[['age', 'skullw', 'totlngth', 'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly']]
y = df['hdlngth']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [11]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train_norm = scaler.transform(X_train)
X_test_norm = scaler.transform(X_test)

In [12]:
lr = LinearRegression()
lr.fit(X_train_norm, y_train)
y_pred = lr.predict(X_test_norm)

r2_score(y_test, y_pred), np.sqrt(mean_squared_error(y_test, y_pred))

(0.7210571429966979, 1.9118250210287941)

In [15]:
# X_train["hdlngth"] = y_train
# X_train.to_csv("trainData.csv")

# X_test["hdlngth"] = y_test
# X_test.to_csv("testData.csv")